body {
	background-color: rgb(247, 14, 14);
}

.header h2 {
	color: rgb(255, 255, 255);
	margin: 35px auto;
	margin-bottom: 20px;
	text-align: center;
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	
	opacity: 0.8;
	font: 700 80px 'Bitter';
}

.header p {
	color: rgb(0, 0, 0);
	font-family: Gill Sans, Verdana;
 font-size: 11px;
 line-height: 14px;
 text-transform: uppercase;
 letter-spacing: 2px;
 font-weight: bold;
	
}

.results {
	margin-top: 20px;
}

#movies-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	
}

